<!-- Home Section Start -->
<div class="home">
	<div class="content">
		<h5>Welcome To World</h5><br>
		<h1>Visit <span class="changecontent"></span></h1>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, nisi.</p>
		<a routerLink="/book">Book Place</a>
	</div>
</div>
<!-- Home Section End -->
<section class="gallary" id="gallary">
	<div class="container">
		<div class="main-txt">
			<h1 style="font-size: 40px;">Explore</h1>
		</div>
		<div class="row" style="margin-top: 30px;">
			<div class="col-md-4 py-3 py-md-0">
				<div class="card">
					<img src="./assets/images/g1.png" alt="" height="230px">
				</div>
			</div>
			<div class="col-md-4 py-3 py-md-0">
				<div class="card">
					<img src="./assets/images/g2.png" alt="" height="230px">
				</div>
			</div>
			<div class="col-md-4 py-3 py-md-0">
				<div class="card">
					<img src="./assets/images/g3.png" alt="" height="230px">
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 30px;">
			<div class="col-md-4 py-3 py-md-0">
				<div class="card">
					<img src="./assets/images/g4.png" alt="" height="230px">
				</div>
			</div>
			<div class="col-md-4 py-3 py-md-0">
				<div class="card">
					<img src="./assets/images/g5.png" alt="" height="230px">
				</div>
			</div>
			<div class="col-md-4 py-3 py-md-0">
				<div class="card">
					<img src="./assets/images/g6.png" alt="" height="230px">
				</div>
			</div>
		</div>
	</div>
</section>

<!--image-->
<div class="ctn">
	<div class="row">
		<div class="col-sm-12">
			<div class="card" id="csk">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-6">
							<h5 class="card-title"></h5>
							<p class="card-text" style="font-size: 15px;">Travellers Choice Best of the Best Experiences
								Our top 1%, powered by real reviews.Travellers Choice Best of the Best Experiences
								Our top 1%, powered by real reviewsTravellers Choice Best of the Best Experiences
								Our top 1%, powered by real reviews</p>
							<a href="https://www.tripadvisor.in/TravelersChoice-ThingsToDo" class="btn btn-primary">See
								the list</a>
						</div>
						<div class="col-sm-6 text-right">
							<img class="card-img-right" src="/assets/images/caption.jpg" alt="sans" width="200px">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Carosel-->
<div class="container">
	<section>
		<h1 style="font-size: 35px; ">
			Top Destination
		</h1>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div id="inam" class="carousel slide carousel-dark" data-bs-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="container w-100 d-block">
									<div class="row">
										<div class="col-sm-12 col-lg-4">
											<div class="card h-100" style="width: 300px;margin: auto;">
												<img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp"
													alt="Card image cap" class="card-img-top">
												<div class="card-body">
													<h4 class="card-title">Maldives</h4>
													<p class="card-text">Beautiful city and can explore more </p>
												</div>
											</div>
										</div>
										<div class="col-sm-12 col-lg-4">
											<div class="card h-100" style="width: 300px;margin: auto;">
												<img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/186.webp"
													alt="Card image cap" class="card-img-top">
												<div class="card-body">
													<h4 class="card-title">Austria</h4>
													<p class="card-text">Can explore a lot in Austria</p>
												</div>
											</div>
										</div>
										<div class="col-sm-12 col-lg-4">
											<div class="card h-100" style="width: 300px;margin: auto;">
												<img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/188.webp"
													alt="Card image cap" class="card-img-top">
												<div class="card-body">
													<h4 class="card-title">Bali</h4>
													<p class="card-text">Bali is one of the amazing country in the world
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="container w-100 d-block">
									<div class="row">
										<div class="col-sm-12 col-lg-4">
											<div class="card h-100" style="width: 300px;margin: auto;">
												<img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
													alt="Card image cap" class="card-img-top">
												<div class="card-body">
													<h4 class="card-title">Iceland</h4>
													<p class="card-text">Iceland is one of the amazing country in the
														world</p>
												</div>
											</div>
										</div>
										<div class="col-sm-12 col-lg-4">
											<div class="card h-100" style="width: 300px;margin: auto;">
												<img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
													alt="Card image cap" class="card-img-top">
												<div class="card-body">
													<h4 class="card-title">Canada</h4>
													<p class="card-text">Canada is one of the amazing country in the
														world</p>
												</div>
											</div>
										</div>
										<div class="col-sm-12 col-lg-4">
											<div class="card h-100" style="width: 300px;margin: auto;">
												<img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
													alt="Card image cap" class="card-img-top">
												<div class="card-body">
													<h4 class="card-title">Brazil</h4>
													<p class="card-text">Brazil is one of the amazing country in the
														world</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<a href="#inam" class="carousel-control-prev" data-bs-slide="prev">
							<span class="carousel-control-prev-icon"></span>
						</a>
						<a href="#inam" class="carousel-control-next" data-bs-slide="next">
							<span class="carousel-control-next-icon"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<!--Card Effects -->

<div id="cards_landscape_wrap-2">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<a href="">
					<div class="card-flyer">
						<div class="text-box">
							<div class="image-box">
								<img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/189.webp" alt="" />
							</div>
							<div class="text-container">
								<h6>Sydney</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<a href="">
					<div class="card-flyer">
						<div class="text-box">
							<div class="image-box">
								<img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/187.webp" alt="" />
							</div>
							<div class="text-container">
								<h6>France</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<a href="">
					<div class="card-flyer">
						<div class="text-box">
							<div class="image-box">
								<img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/181.webp" alt="" />
							</div>

							<div class="text-container">
								<h6>Germany</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<a href="">
					<div class="card-flyer">
						<div class="text-box">
							<div class="image-box">
								<img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" alt="" />
							</div>
							<div class="text-container">
								<h6>Netherland</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!--Cards-->
<div class="llr">
	<div class="box-wrapper">
		<figure class="shape-box shape-box_half">
			<img src="https://images.unsplash.com/photo-1472502516535-eeee381bb45e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHNjb3RsYW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
				alt="">
			<div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
			<figcaption>
				<div class="show-cont">
					<h3 class="card-no">Travel</h3>
					<h4 class="card-main-title">and Explore</h4>
				</div>
				<p class="card-content">Customer interactions, study and analysis of company branding through creative
					briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the
					reactions.</p>
				<a href="#" class="read-more-btn">Read More</a>
			</figcaption>
			<span class="after"></span>
		</figure>
		<figure class="shape-box shape-box_half">
			<img
				src="https://plus.unsplash.com/premium_photo-1673002092636-994b1e54084b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8c2NvdGxhbmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60">
			<div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
			<figcaption>
				<div class="show-cont">
					<h3 class="card-no">Adventure</h3>
					<h4 class="card-main-title">and Sports</h4>
				</div>
				<p class="card-content">Customer interactions, study and analysis of company branding through creative
					briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the
					reactions.</p>
				<a href="#" class="read-more-btn">Read More</a>
			</figcaption>
			<span class="after"></span>
		</figure>
		<figure class="shape-box shape-box_half">
			<img
				src="https://plus.unsplash.com/premium_photo-1682320426943-dc13482408d5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzF8fG5pZ2h0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60">
			<div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
			<figcaption>
				<div class="show-cont">
					<h3 class="card-no">Art</h3>
					<h4 class="card-main-title">and Culture</h4>
				</div>
				<p class="card-content">Customer interactions, study and analysis of company branding through creative
					briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the
					reactions.</p>
				<a href="#" class="read-more-btn">Read More</a>
			</figcaption>
			<span class="after"></span>
		</figure>
		<figure class="shape-box shape-box_half">
			<img
				src="https://images.unsplash.com/photo-1506377585622-bedcbb027afc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZWRpbmJ1cmdofGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60">
			<div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
			<figcaption>
				<div class="show-cont">
					<h3 class="card-no">Shopping</h3>
					<h4 class="card-main-title">and Entertainment</h4>
				</div>
				<p class="card-content">Customer interactions, study and analysis of company branding through creative
					briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the
					reactions.</p>
				<a href="#" class="read-more-btn">Read More</a>
			</figcaption>
			<span class="after"></span>
		</figure>
	</div>
</div>

<!--Travel	Cards-->
<div id="spl">
	<div class="portfolio">
		<h2 class="title">THINGS TO KNOW BEFORE TRAVELLING</h2>
		<a href="#" class="card">
			<div class="content">
				<span class="title">Passport</span>
				<span class="category">Get your Passport to Explore</span>
			</div>
			<div class="image">
				<img src="https://images.unsplash.com/photo-1617758387451-79bcae2d86eb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHZpc2F8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
					alt="" />
			</div>
		</a>

		<a href="#" class="card">
			<div class="content">
				<span class="title">Travel tips</span>
				<span class="category">Qatar is a destination that offers novel, authentic experiences. Here are some
					tips that will help better </span>
			</div>
			<div class="image">
				<img src="https://images.unsplash.com/photo-1581553673739-c4906b5d0de8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dmlzYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
					alt="" />
			</div>
		</a>

		<a href="#" class="card">
			<div class="content">
				<span class="title">Getting Here</span>
				<span class="category">Strategically located at the crossroads of East and West
					, Qatar is an average of 6-7 hours away from major international hub</span>
			</div>
			<div class="image">
				<img src="https://images.unsplash.com/photo-1552733407-5d5c46c3bb3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
					alt="" />
			</div>
		</a>

		<a href="#" class="card">
			<div class="content">
				<span class="title">Getting around</span>
				<span class="category">Visitors can discover Doha by road, air or sea - as a variety of options - from
					bus, to helicopter</span>
			</div>
			<div class="image">
				<img src="https://images.unsplash.com/photo-1619467416348-6a782839e95f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8dmlzYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
					alt="" />
			</div>
		</a>
	</div>
