/* Home Section Start */
.home {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("/assets/images/about-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.home .content {
  text-align: center;
  padding-top: 200px;
}

.home .content h5 {
  color: white;
  font-size: 38px;
  font-weight: 550;
  text-shadow: 0px 1px 1px black;
}

.home .content h1 {
  color: white;
  font-size: 70px;
  font-weight: 550;
  text-shadow: 0px 1px 1px black;
  margin-top: 5px;
}

.changecontent::after {
  content: ' ';
  color: #ffa500;
  text-shadow: 0px 1px 1px black;
  animation: changetext 10s infinite linear;

}

@keyframes changetext {
  0% {
    content: "France";
  }

  10% {
    content: "Spain";
  }

  20% {
    content: "United States";
  }

  30% {
    content: "China";
  }

  40% {
    content: "India";
  }

  50% {
    content: "Pakistan";
  }

  60% {
    content: "Italy";
  }

  70% {
    content: "Turkey";
  }

  80% {
    content: "Mexico";
  }

  90% {
    content: "Germany";
  }

  100% {
    content: "United kingdom";
  }
}

.home .content p {
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 30px;
  margin-top: 5px;
}

.home .content a {
  padding: 10px;
  background: white;
  color: black;
  letter-spacing: 2px;
  font-weight: 550;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
}

.home .content a:hover {
  background: #ffa500;
  color: white;
}

@media (max-width:850px) {
  .home {
    background-position: 50%;
  }
}

@media (max-width:450px) {
  .home .content h5 {
    font-size: 25px;
  }

  .home .content h1 {
    font-size: 38px;
  }

  .home .content p {
    font-size: 13px;
  }
}

/* Home Section End */

.gallary {
  margin-top: 50px;
}

.gallary .card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}

.gallary .card img {
  border-radius: 10px;
  transition: 0.5s;
}

.gallary .card img:hover {
  transform: scale(1.1);
}

.ctn {
  margin-left: 10px;
  padding: 50px;

}

.card-img-right {
  margin-left: 400px;
}

#csk {
  background-color: #fddc5a;
}


/*----  Main Style  ----*/
#cards_landscape_wrap-2 {
  text-align: center;
  background: #F7F7F7;
}

#cards_landscape_wrap-2 .container {
  padding-top: 80px;
  padding-bottom: 100px;
}

#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  width: 100%;
  height: 200px;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer {
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

#cards_landscape_wrap-2 .card-flyer:hover {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}

/*Cards*/
.llr {
  @import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");



  .shape-box {
    display: inline-block;
    position: relative;
    z-index: 1;
    max-width: 500px;
    height: 430px;
    margin: 30px 10px 30px;
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, .12);
    overflow: hidden;
    width: 23.333%;
  }

  .shape-box_half {
    overflow: hidden;
    text-align: left;
  }

  .shape-box_half:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewY(53.5deg);
    transform-origin: top left;
    transition: \transform .4s;
    background: #fff;
    z-index: 1;
  }

  .shape-box>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .bg-black {
    background-color: #000;
  }

  .shape-box_half figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 30px 30px;
    transition: \transform .4s;
    transform: translateY(100%);
    z-index: 3;
  }

  .shape-box_half figcaption .show-cont {
    position: absolute;
    bottom: calc(100% + 30px);
    left: 30px;
    right: 30px;
    transition: bottom .4s;
  }

  .card-no {
    font-size: 36px;
    color: #ffc107;
    padding: 0;
    margin: 10px 0;
  }

  .card-main-title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #292b2c;
  }

  .card-content {
    color: #9f9f9f;
    margin-top: 20px;
    line-height: 22px;
    font-size: 15px;
  }

  .read-more-btn {
    border: 2px solid #db3236;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .08em;
    font-weight: 600;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #db3236;
    color: #fff;
    border-radius: 2px;
    margin-top: 25px;
    text-decoration: none;
  }

  .read-more-btn:hover {
    background: transparent;
    color: #db3236;

  }

  .shape-box_half>.after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fdd744;
    opacity: 0;
    transition: opacity .4s;
  }

  /*On hover*/
  .shape-box_half:hover:before {
    transform: skewY(20deg);
  }

  .shape-box_half:hover figcaption {
    transform: translateY(0);
  }

  .shape-box_half:hover figcaption .show-cont {
    bottom: 100%;
  }

  .shape-box_half:hover>.after {
    opacity: 1;
  }
}

#spl {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
  }

  .portfolio h2 {
    flex-basis: 100%;
    text-align: center;
    margin: 50px auto 30px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    color: #111;
  }

  .card {
    width: 25%;
    overflow: hidden;
    position: relative;
  }

  .card .content {
    z-index: 2;
    width: 100%;
    position: absolute;
    bottom: -100px;
    transition: all 0.7s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100px;
    background: #111;
  }

  .card .image {
    z-index: 1;
    height: 100%;
  }

  .card img {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
    transform: scale(1.2);
  }

  .card:hover .content {
    bottom: 0px;
    color: #fff;
  }

  .card:hover .image img {
    transform: scale(1);
  }

  .card .content span:first-child {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    font-size: 16px;
  }

  .card .content span:last-child {
    font-size: 14px;
    color: #18cfab;
    text-align: center;
    font-weight: 700;
  }


  @media screen and (max-width: 768px) {
    .card {
      width: 50%;
    }

    .card .content {
      bottom: 0;
    }
  }

  @media screen and (max-width: 480px) {
    .card {
      width: 100%;
    }
  }
}