<!--------------Side navbar---------------->

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" id="nav">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class=" d-none d-sm-inline" id="admin">PrasTravel </span>
                    <span>Dashboard</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Details</span> </a>
                   
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Customers</span></a>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">More</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Destination</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Travel Policy</span> 2</a>
                            </li>
                        </ul>
                    </li>
                  
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Help</span> </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>

        <div class="col py-3">
            <!------------Content area---------->
<div class="container">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Total Countries</h5><br>
                  <p class="card-text">50+</p>
                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Available Partners</h5><br>
                  <p class="card-text">300+</p>
                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Booked Customers</h5><br>
                  <p class="card-text">100</p>
                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
</div>

<div class="container" id="card2">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Trip Faculty</h5><br>
          <p class="card-text">150</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Available Hotels</h5><br>
          <p class="card-text">80</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Packages</h5><br>
          <p class="card-text">100+</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>    
  </div>
        </div>
    </div>
</div>
