.container1{
    background: rgba(255, 255, 255, 0.89);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    border: 1px solid rgba(255, 255, 255, 0.22);
    width: 60%;
  }

/*   vd-bg{
    position:absolute;
    right:0;
    bottom:0;
    max-width:100px;
    min-height:100px;
    background-size:cover;
} */